.sidebar {
  // height: calc(100vh - 60px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  border-right: 1px dashed rgba(0, 0, 0, 0.2);
  width: 18%;
  left: 0px;
  position: relative;
  transition: left 0.3s ease;

  .dashboard {
    border-right: 4px solid rgba(14, 49, 165, 1);
    background: rgba(244, 245, 250, 1);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    position: relative;
    top: 40px;

    svg {
      color: rgba(14, 49, 165, 1);
      cursor: pointer;
    }
    h3 {
      color: rgba(14, 49, 165, 1);
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
    }
  }
  .arrow {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: -13px;
    cursor: pointer;
    svg {
      width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(270deg);
    }
  }
}
